<!DOCTYPE ejs>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <% include ./demo2.ejs %>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <p><%- title %></p>

    <% include ./demo2.ejs %>


    
    <!-- 定义一组数组 -->
    <% users=["Jack","Rose","Alice","Ave"] %>
    <ul>
        <% for(var item in users){ %>
        <li>
        <%= users[item] %>
        </li>
        <% } %>
    </ul>


    <% if(isLogin){ %>
      <div class="user">
          <a href="">Jack</a>
          <a href="">退出</a>
      </div>
      <% }else{ %>
      <div class="login">
          <a href="">登录</a>
          <a href="">注册</a>
      </div>
      <% } %>
</body>
</html>